body {
    position: relative;
    text-align: center;
}

#map-outer {
    display: flex;
    margin: 30px;
    justify-content: center;
}

.cell {
    border-style: solid;
    border-color: #5f5cff;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row:first-child {
    border-top: 1px solid #5f5cff;
}

.cell {
    width: 1em;
    height: 1em;
    border-width: 0 1px 1px 0;
}

.cell:first-child {
    border-width: 0 1px 1px 1px;
}

.wall {
    background-color: black;
}

.open {
    background-color: white;
}

.door {
    background-color: grey;
}